/* colors to use
text, #3333333
background: #beab72
app background: #f9f9f4

*/

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
}

.App {
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}
